/*Importar fonte*/
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*Formatações Padrão*/
:root{
    --pretoPrincipal:#050908;
    --douradoPrincipal:#E9AE0C;
    --cinzaPrincipal: rgb(202, 197, 197);
    --verdePrincipal: rgb(124, 216, 124);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'K2D',sans serif;
    color: black;
    
    
}

body{   
    background-color: var(--pretoPrincipal);
    
}

section{
    margin-top:1.5rem;
    
}

footer{
    margin-top: 1.5rem;
    padding: 0;
    margin-left: 0;

}
/*Formatação do header*/
/*Logo*/
header{
    margin-top: 0.5;
    text-align: center;
    margin-bottom: 1.5rem;
}
div.logo{
    text-align: center;
    margin-bottom: 1rem;
}

header > h1{
    color: var(--douradoPrincipal);
}

/*Main*/

main{
    padding: 1rem;
    margin: 0 auto;
}

/*Section instructions*/

.instructions > p{
    font-size: 1.125rem;
    color: white;
    text-align: justify;
}

/*Section container*/

.container{
    width: 80vw;
    background-color: white;
    border-radius: 0.5rem;
    color: black;    
    padding: 1rem;
    text-align: start;
    margin: 1rem auto;
}

/*Formulario*/
form{
    font-size: 1.3rem;
}
#selectMes{
    margin-top: 0.5rem;
}

option{
    font-size: 1.15rem;
}

select{
    font-size: 1.15rem;
    margin-bottom: 0.8rem ;
}

.inputTxt{
    margin-top: 0.5rem;
    width: 5rem;
    font-size: 1.15rem;
    margin-bottom: 0.8rem ;
    
}
/*Botões*/
/*Botão de calcular*/
button{
    cursor: pointer;
}
.btns{
       display: flex;
       justify-content: space-between;
       align-items: center;
       
}
.btnPrincipal{
    background-color: var(--douradoPrincipal);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    
    
}

#btnLimpar{
    background-color: var(--cinzaPrincipal);
    margin-left: 1rem;
}
.areaToogle{
    display: flex;
    margin-top: -20px;
}
.btnToogle{
    margin-left: auto;
    border: none;
    background: none;
    cursor: pointer;
}

#btnSave{
    margin-left: auto;/*Deixa o botão salvar a direita*/
    background-color: var(--cinzaPrincipal);
    background-color: var(--verdePrincipal);

}

/*Botão Add*/

.btnBottom{
    background: none;
    border: none;
}

/*Resultado*/

.formataResult{
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
}


.divBtn{
    margin-top: 0.5rem auto;
    padding: 0rem 1rem;
    text-align: right;
    display: flex;
    justify-content: space-between;
    
}
.divBtn p {
    color: white;
}

/*Botões finais*/

#mediaTotal{
    display: none;
}
#restart{
    display: none;
}
#add{
    /*remover quando botões finais aparecerem*/
    margin-left: auto;
}
/*Footer*/


footer p{
    color: white;
    text-align: center;
    margin: 0.5rem 0;
    
    
}
footer div{
    border-bottom: 1px solid var(--douradoPrincipal);
}
.creditFooter a{
    text-decoration: none;
    color: var(--douradoPrincipal);
}